.line-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.line-item-input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.line-item-input:focus {
  border-color: #007bff;
}

.line-item span {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.remove-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 20%;
}

.remove-button:hover {
  background-color: #c82333;
}

.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.add-button:hover {
  background-color: #0056b3;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.total-box {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
}

.total-box h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
